hello


<div><%= form_for(:user, :url => session_path(:user)) do |f| %></div>
<div><%= f.text_field :email %></div>
<div><%= f.password_field :password %></div>
<div><%= f.check_box :remember_me %></div>
<div><%= f.label :remember_me %></div>
<div><%= f.submit 'Sign in' %></div>
<div><%= link_to "Forgot your password?", new_password_path(:user) %></div>
<% end %>

<%= link_to 'Create Account', create_profile_path %>

<%= link_to 'Logout', destroy_user_session_path,
method: :delete,
data: { confirm: 'Are you sure?' } %>
